@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #0D6EFD;
}

._mylogo {
    width: 100px;
}

._mynavlink {
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: border-bottom 1s;

    &:hover {
        color: blue;
        border-bottom: 5px solid blue;
    }
}

._myimg {
    height: 50px;
}

._mypointer {
    cursor: pointer;
}

._mylinks {
    color: white;
    transition: color 0.5s;

    &:hover {
        color: var(--primary);
    }
}

._myfooter {
    background-image: url('/footer-bg.jpg');
    height: 350px;
    overflow: hidden;
}

._mybglogo {
    height: 450px;
}