@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #0D6EFD;
}

._mylogo {
    width: 100px;
}

._mynavlink {
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: border-bottom 1s;

    &:hover {
        color: blue;
        border-bottom: 5px solid blue;
    }
}

._myimg {
    height: 50px;
}

._mypointer {
    cursor: pointer;
}

._myjumbo {
    width: 100%;
    height: 550px;
    display: block;
    background-image: url('/jumbotron.jpg');
    position: relative;
}

._mybox {
    padding: 10px;
    background-color: var(--primary);
    color: white;
    width: 150px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    left: 300px;
    background-repeat: no-repeat;
}

._mylinks {
    color: white;
    transition: color 0.5s;

    &:hover {
        color: var(--primary);
    }
}

._myfooter {
    background-image: url('/footer-bg.jpg');
    height: 350px;
    overflow: hidden;
}

._mybglogo {
    height: 450px;
}

._mybtn {
    border: 2px solid var(--primary);
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    padding: 9px;
    border-radius: 10px;

    transition: background-color .3s;

    &:hover {
        background-color: var(--primary);
    }
}